In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("Heart.csv")

In [3]:
df.head()

,HeartDisease,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,AgeCategory,Race,Diabetic,PhysicalActivity,GenHealth,SleepTime,Asthma,KidneyDisease,SkinCancer
0,No,16.60,Yes,No,No,3.0,30.0,No,Female,55-59,White,Yes,Yes,Very good,5.0,Yes,No,Yes
1,No,20.34,No,No,Yes,0.0,0.0,No,Female,80 or older,White,No,Yes,Very good,7.0,No,No,No
2,No,26.58,Yes,No,No,20.0,30.0,No,Male,65-69,White,Yes,Yes,Fair,8.0,Yes,No,No
3,No,24.21,No,No,No,0.0,0.0,No,Female,75-79,White,No,No,Good,6.0,No,No,Yes
4,No,23.71,No,No,No,28.0,0.0,Yes,Female,40-44,White,No,Yes,Very good,8.0,No,No,No

In [4]:
l = ['BMI','PhysicalHealth','MentalHealth','SleepTime']
for i in l:
    df[i] = df[i].astype('float32')

In [5]:
df = df.drop('Race',axis = 1)

In [6]:
a = ['AlcoholDrinking','Smoking','Stroke','DiffWalking','Diabetic','PhysicalActivity','Asthma','KidneyDisease','SkinCancer','HeartDisease']
for i in a:
    df[i] = df[i].map({'No':0,'Yes':1})

In [7]:
df['Sex'] = df['Sex'].map({'Female':0,'Male':1})

In [8]:
df = df.drop('AgeCategory',axis = 1)

In [9]:
df = df.drop('GenHealth',axis = 1)

In [10]:
l = ['BMI','PhysicalHealth','MentalHealth','SleepTime']
for i in l:
    df[i] = df[i].div(100).round(2)

In [11]:
df.replace({np.inf: 1, np.nan : 0}, inplace=True)

In [12]:
df.head()

,HeartDisease,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,Diabetic,PhysicalActivity,SleepTime,Asthma,KidneyDisease,SkinCancer
0,0,0.17,1,0,0,0.03,0.3,0,0,1.0,1,0.05,1,0,1
1,0,0.20,0,0,1,0.00,0.0,0,0,0.0,1,0.07,0,0,0
2,0,0.27,1,0,0,0.20,0.3,0,1,1.0,1,0.08,1,0,0
3,0,0.24,0,0,0,0.00,0.0,0,0,0.0,0,0.06,0,0,1
4,0,0.24,0,0,0,0.28,0.0,1,0,0.0,1,0.08,0,0,0

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319795 entries, 0 to 319794
Data columns (total 15 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   HeartDisease      319795 non-null  int64
 1   BMI               319795 non-null  float32
 2   Smoking           319795 non-null  int64
 3   AlcoholDrinking   319795 non-null  int64
 4   Stroke            319795 non-null  int64
 5   PhysicalHealth    319795 non-null  float32
 6   MentalHealth      319795 non-null  float32
 7   DiffWalking       319795 non-null  int64
 8   Sex               319795 non-null  int64
 9   Diabetic          319795 non-null  float64
 10  PhysicalActivity  319795 non-null  int64
 11  SleepTime         319795 non-null  float32
 12  Asthma            319795 non-null  int64
 13  KidneyDisease     319795 non-null  int64
 14  SkinCancer        319795 non-null  int64
dtypes: float32(4), float64(1), int64(10)
memory usage: 31.7 MB

In [14]:
l = ['Smoking','AlcoholDrinking','Stroke','DiffWalking','Sex','PhysicalActivity','Asthma','KidneyDisease','SkinCancer']
for i in l:
    df[i] = df[i].astype('int32')

In [15]:
df.head()

,HeartDisease,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,Diabetic,PhysicalActivity,SleepTime,Asthma,KidneyDisease,SkinCancer
0,0,0.17,1,0,0,0.03,0.3,0,0,1.0,1,0.05,1,0,1
1,0,0.20,0,0,1,0.00,0.0,0,0,0.0,1,0.07,0,0,0
2,0,0.27,1,0,0,0.20,0.3,0,1,1.0,1,0.08,1,0,0
3,0,0.24,0,0,0,0.00,0.0,0,0,0.0,0,0.06,0,0,1
4,0,0.24,0,0,0,0.28,0.0,1,0,0.0,1,0.08,0,0,0

In [16]:
X = df.drop('HeartDisease',axis=1)
y = df['HeartDisease']

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

In [19]:
from sklearn.linear_model import LinearRegression

In [20]:
model = LinearRegression()

In [21]:
model.fit(X_train,y_train)

LinearRegression()

In [22]:
test_predictions = model.predict(X_test)

In [23]:
from sklearn.metrics import mean_absolute_error,mean_squared_error

In [25]:
MAE = mean_absolute_error(y_test,test_predictions)
MSE = mean_squared_error(y_test,test_predictions)
RMSE = np.sqrt(MSE)

In [26]:
MAE

0.14062226455016438

In [27]:
MSE

0.06998637231565832

In [28]:
RMSE

0.26454937595023414

In [30]:
pickel_out = open("model.pkl",'wb')
pickel.dump(gbc,pickel_out)

NameError: name 'pickel' is not defined